<!DOCTYPE HTML>
<html>
<head>
    <title>Free Home Shoppe Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link rel="stylesheet" href="~/Content/assets/libs/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="~/Content/assets/libs/gridjs/theme/mermaid.min.css">
    <!-- Layout config Js -->
    <script src="~/Content/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/Content/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <style>
        .fixed-navbar {
            background-color: white;
        }
    </style>
</head>

<body class="fixed-navbar">
    <div class="container1">
        <div class="container">
            <header class="header mt-3">
                <div class="row">
                    <div class="col-md-3"><img onclick="window.location = '/Home/Index'" src="~/images/logo1.jpg" style="width: 65%" /></div>
                    <div class="col-md-5"><input class="search form-control mt-3" type="search" id="search" name="search" /></div>
                    <div class="col-md-1"><button class="btn btn-outline-dark mt-3" style="height:35px"><i class="ri-search-2-line"></i></button></div>
                    <div class="col-md-1"><button class="btn btn-outline-dark mt-3" style="height:35px" onclick="window.location = '/Cart/Index'"><i class="ri-shopping-cart-2-line"></i></button></div>
                    <div class="col-md-2"><button class="btn btn-outline-dark mt-3" style="height:35px">Tài khoản</button></div>
                </div>
            </header>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary border-top mt-2">
            <div class="col-md-5"></div>
            <div class="container-fluid " style="font-size:14pt;">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Brands</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                @*@{
                                    var i = 0;
                                    foreach (var item in ViewBag.list_detail)
                                    {
                                        <a class="dropdown-item" href="#" id="Brand @item.Code">@item.Name</a>
                                        i++;
                                    }
                                }*@
                                <a class="dropdown-item" href="#">Adidas</a>
                                <a class="dropdown-item" href="#">Nike</a>
                                    <a class="dropdown-item" href="#">Converse</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Shop/Index">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Store manager</a>
                            @*<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown button
                                </button>*@
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <a class="dropdown-item" href="/Category/Index">Categories</a>
                                <a class="dropdown-item" href="/Product/Index">Products</a>
                                <a class="dropdown-item" href="#">Converse</a>
                            </div>
                        </li>
                    </ul>
                </div>
        </nav>
        @*@Html.Partial("~/Views/Main/Header.cshtml")
            @Html.Partial("~/Views/Main/Menu.cshtml")*@
        <div class="content-wrapper">
            @RenderBody()

            @Html.Partial("~/Views/Main/Footer.cshtml")
        </div>
    </div>

    @*<div class="sidenav-backdrop backdrop"></div>
        <div class="preloader-backdrop">
            <div class="page-preloader">Loading</div>
        </div>*@
    <script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/Content/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    @*<script src="~/Content/assets/js/plugins.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/jquery-ui.js"></script>
    <script src="~/Content/assets/libs/nouislider/nouislider.min.js"></script>
    <script src="~/Content/assets/libs/wnumb/wNumb.min.js"></script>
    @*<script src="~/Content/assets/js/pages/form-advanced.init.js"></script>*@
    <!-- input spin init -->
    <script src="~/Content/assets/js/pages/form-input-spin.init.js"></script>
    <!-- input flag init -->
    @*<script src="~/Content/assets/js/pages/flag-input.init.js"></script>*@
    <!-- prismjs plugin -->
    <script src="~/Content/assets/libs/prismjs/prism.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.4/dist/sweetalert2.all.min.js"></script>

    <script src="~/Content/assets/js/app.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>