@{
    ViewBag.Title = "Update";
}
@*@using WEB
    @model List<WEB.Models.MenuModel>

    @Model.Name*@
<input type="text" name="name" id="ID" value="@ViewBag.list_detail.ID" hidden />
<div class="page-content fade-in-up">
    <div class="ibox mt-3">
        <div class="ibox-head">
            <div class="ibox-title col-md-3">Update</div>
            @*<div class="btn-group btn-rounded">
                    <button class="btn btn-success"> Thêm mới</button>
                    <button class="btn btn-danger"> Cập nhật</button>
                    <button class="btn btn-default"> Xóa</button>
                </div>*@
        </div>
        <div class="ibox-body" id="div-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mt-2">
                        <label class="col-md-3">Name</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <input type="text" name="name" id="Name" value="@ViewBag.list_detail.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Target</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <input type="text" name="Target" id="Target" value="@ViewBag.list_detail.Styleshow" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Thứ tự</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <input type="number" name="Order" id="Order" value="@ViewBag.list_detail.Orders" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Tên chuyên mục</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <input type="text" name="name" id="TenCM" value="@ViewBag.list_detail.Url_Name" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Rewrite Url</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <input type="text" name="SoLuong" id="Rewrite" value="@ViewBag.list_detail.Link" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-primary btn-border ms-2">Kiểm tra</button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Ảnh đại diện</label>
                        <div class="col-md-5">
                            @Html.TextBox("AnhDaiDien", (string)ViewBag.list_detail.Images, new { @class = "form-control required" })
                            <input class="sr-only" type="file" id="gallery3" onclick="BrowseServer('AnhDaiDien', 'News')">
                        </div>
                        <label class="btn btn-secondary mb-0 col-md-2" for="gallery3">
                            <span>Chọn ảnh...</span>
                        </label>
                    </div>
                    <div class="row mt-2" hidden>
                        <label class="col-md-3">Đăng nhiều ảnh</label>
                        <div class="form-group col-md-5">
                            <span>@Html.TextBox("txtMImage", "", new { placeholder = "", @class = "form-control form-control-lg" })</span>
                            <input class="sr-only" type="file" name="images[]" id="gallery" onclick="BrowseServerNew('txtMImage','News')" multiple="">
                        </div>
                        <p class="text-center col-md-2" style=" float:left;">
                            <label class="btn btn-secondary mb-0" for="gallery">
                                <span>Chọn nhiều ảnh...</span>
                            </label>
                        </p>
                    </div>
                    <div class="row " style="clear: both">
                        <div class="col-md-3"></div>
                        <ul id="container-img" style="padding:0px"></ul>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Nội dung</label>
                        <div class="col-md-9">
                            @Html.TextArea("MoTa", (string)ViewBag.list_detail.Noidung1, new { @class = "ckeditor" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Tiêu đề từ khóa(Title)</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <textarea name="Name" id="Title" value="" class="form-control">@ViewBag.list_detail.Titleseo</textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Nội dung hiển thị trong(Description)</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <textarea name="Name" id="Des" value="" class="form-control">@ViewBag.list_detail.Description</textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Nội dung hiển thị trong(Keyword)</label>
                        <div class="col-md-5" style="width:30%;padding:0px">
                            <textarea name="Name" id="Keyword" value="" class="form-control">@ViewBag.list_detail.Keyword</textarea>
                        </div>
                    </div>
                    <div class="row mt-2" hidden>
                        <label class="col-md-3">Tùy chọn</label>
                        <label class="ui-checkbox ui-checkbox-primary">
                            <input type="checkbox" id="check1">
                            <span class="input-span"></span>Trang chủ
                        </label>
                    </div>
                    <div class="row mt-2" hidden>
                        <label class="col-md-3">Thứ tự</label>
                        <div class="col-md-3" style="width:30%;padding:0px">
                            <input type="number" name="name" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2" hidden>
                        <label class="col-md-3">Hiển thị</label>
                        <label class="ui-checkbox ui-checkbox-primary">
                            <input type="checkbox">
                            <span class="input-span"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="" style="margin-left:10px;"></div>
                <div class="">
                    <button class="btn btn-outline-success btn-border" onclick="Update();">Update</button>
                    <button class="btn btn-outline-primary btn-border" onclick="js_clear();">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/ckfinder/ckfinder.js" type="text/javascript"></script>
<script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript">
    CKEDITOR.replace('txttomtat', {
        toolbar: [
            { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
            ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],			// Defines toolbar group without name.
            '/',																					// Line break - next group will be placed in new line.
            { name: 'basicstyles', items: ['Bold', 'Italic'] }
        ]
    });
</script>
<script>
    function Update() {
        window.scrollTo(0, 0);
        var lst = {};
        lst.Name = $('#Name').val().trim();
        lst.Styleshow = $('#Target').val().trim();
        lst.Orders = $('#Order').val().trim();
        lst.Url_Name = $('#TenCM').val().trim();
        lst.Link = $('#Rewrite').val().trim();
        lst.Images = $('#AnhDaiDien').val().trim();
        lst.Noidung1 = CKEDITOR.instances.MoTa.getData();
        lst.Titleseo = $('#Title').val().trim();
        lst.Keyword = $('#Des').val().trim();
        lst.Description = $('#Keyword').val().trim();
        lst.ID = $('#ID').val().trim();
        console.log(lst);
        $.ajax({
            url: '/Menu/UpdateMenu',
            type: 'POST',
            data: JSON.stringify({ lst: lst }),
            contentType: 'application/json, charset=utf-8',
            //beforeSend: function () {
            //    js_Loading(true, 1);
            //},
            success: function (data) {

                if (data == 1) {
                    Swal.fire(
                        'Update!',
                        'Update successful!',
                        'success',
                        '3000'
                    )
                    //js_Loading(false, 1);
                }

            },
            //error: function () {
            //    js_Loading(false, 1);
            //}

        });
        window.location = '/Menu/Index';
    }
</script>