@{
    ViewBag.Title = "Create";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var jsonItems = serializer.Serialize(ViewBag.list_DM);
}

<style>
    #container-img {
        margin: 0 0 7px 0px !important
    }

    .box-img {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc
    }

    #container-img li {
        display: block;
        position: relative;
        margin: 3px 3px 3px 0;
        padding: 5px;
        float: left;
        width: 90px;
        height: 90px
    }

    .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .box-img:hover .btn-close {
        display: inline-block
    }

    .box-img .btn-close {
        position: absolute;
        top: 0;
        right: -2px;
        line-height: 20px;
        background: red;
        color: #fff;
        font-size: 14px;
        width: 20px;
        text-align: center;
        border-radius: 16px;
    }

    .box-image img {
        object-fit: cover;
    }

    img.attachment-thumbnail.size-thumbnail {
        height: 100px;
        object-fit: cover;
    }
</style>
<input type="text" id="cap" name="name" value="MN" hidden disabled />
<input type="text" id="getName" name="name" value="" disabled hidden />
<div class="page-content fade-in-up">
    <div class="ibox mt-3">
        <div class="ibox-head">
            <div class="ibox-title col-md-3">@NgonNgu.label("CreateNew")</div>
            @*<div class="btn-group btn-rounded">
                    <button class="btn btn-success"> Thêm mới</button>
                    <button class="btn btn-danger"> Cập nhật</button>
                    <button class="btn btn-default"> Xóa</button>
                </div>*@
        </div>
        <div class="ibox-body" id="div-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mt-2">
                        <label class="col-md-3">@NgonNgu.label("MenuName")</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <textarea name="Name" id="Name" value="" class="form-control" oninput="getName();"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2" hidden>
                        <label class="col-md-3">Tên đường dẫn</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <textarea name="Url_Name" id="Url_Name" value="" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Ảnh đại diện</label>
                        <div class="col-md-5">
                            @Html.TextBox("AnhDaiDien", (string)ViewBag.AnhDaiDien, new { @class = "form-control required" })
                            <input class="sr-only" type="file" id="gallery3" onclick="BrowseServer('AnhDaiDien', 'News')">
                        </div>
                        <label class="btn btn-outline-primary btn-border ms-2" for="gallery3">
                            Chọn ảnh
                        </label>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Kiểu trang</label>
                        <div class="col-md-5" style="padding-left: 15px">
                            <select class="form-control " name="Type" id="Type" onchange="show();">
                                <option value="0">Trang liên kết</option>
                                <option value="1">Trang nội dung</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2" id="LK">
                        <label class="col-md-3">Liên kết</label>
                        <div class="col-md-5" style=" padding-left: 15px">
                            <select class="form-control " name="Link" id="Link" onchange="show();">
                                <option value="0">Nhập liên kết</option>
                                <option value="1">Liên kết Module sản phẩm hoặc tin tức</option>
                                <option value="2">Liên kết sản phẩm</option>
                                <option value="3">Liên kết tin tức</option>
                            </select>
                        </div>
                        <div class="col-md-4" id="LinkRewrite">
                            <input type="text" name="Rewrite" id="Rewrite" value="" class="form-control" />
                            <select class="form-control " name="module" id="module" style="width:230px;">
                                <option id="cha" name="cha" value="1">-------------Chọn liên kết-------------</option>
                                @Html.Raw(Comond.LoadSelectModule("DM", "-1"))
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Kiểu hiển thị</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <select class="form-control " name="Target" id="Target">
                                <option value="0">_self</option>
                                <option value="1">_blank</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Vị trí hiển thị</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <select class="form-control " name="Position" id="Position">
                                <option value="0">Menu chính</option>
                                <option value="1">Tin tức hỗ trợ - chân trang</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <label class="col-md-3">Tiêu đề từ khóa(Title)</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <textarea name="Title" id="Title" value="" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Nội dung hiển thị trong(Description)</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <textarea name="Des" id="Des" value="" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Nội dung hiển thị trong(Keyword)</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <textarea name="Keyword" id="Keyword" value="" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">@NgonNgu.label("Order")</label>
                        <div class="col-md-5" style="width: 30%; padding-left: 15px">
                            <input type="number" name="Order" id="Order" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-md-3">Trạng thái</label>
                        <div class="col-md-3">
                            <label class="ui-checkbox ui-checkbox-primary">
                                <input type="checkbox" id="PageHome" name="PageHome" value="PageHome">
                                <span class="input-span"></span>Trang chủ
                            </label>
                        </div>
                    </div>
                    <div class="row mt-2" id="MT">
                        <label class="col-md-3">Mô tả chi tiết</label>
                        <div class="col-md-9">
                            @Html.TextArea("Detail", (string)ViewBag.MoTa, new { @class = "ckeditor" })
                        </div>
                    </div>
                    <div class="row mt-2" id="ND">
                        <label class="col-md-3">Nội dung chi tiết</label>
                        <div class="col-md-9">
                            @Html.TextArea("Content", (string)ViewBag.MoTa, new { @class = "ckeditor" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="" style="margin-left:10px;"></div>
                <div class="">
                    <button class="btn btn-outline-success btn-border" onclick="Save();">Save</button>
                    <button class="btn btn-outline-primary btn-border" onclick="Coppy();">Coppy toàn bộ nhóm sản phẩm sang</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section jsFooter{
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <script src="~/Scripts/ckfinder/ckfinder.js" type="text/javascript"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace('txttomtat', {
            toolbar: [
                { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates'] },	// Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
                ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],			// Defines toolbar group without name.
                '/',																					// Line break - next group will be placed in new line.
                { name: 'basicstyles', items: ['Bold', 'Italic'] }
            ]
        });
    </script>
    <script type="text/javascript">

        $(function () {
            show();
        });
        function show() {
            debugger;
            if ($('#Type option:selected').val() == "1") {
                $('#LK').hide();
                $('#MT').show();
                $('#ND').show();
            }
            if ($('#Type option:selected').val() == "0") {
                $('#LK').show();
                $('#MT').hide();
                $('#ND').hide();
                if ($('#Link option:selected').val() == "0") {
                    $('#Rewrite').show();
                    $('#module').hide();
                } else if ($('#Link option:selected').val() == "1") {
                    $('#Rewrite').hide();
                    $('#module').show();
                } else if ($('#Link option:selected').val() == "2") {
                    $('#Rewrite').hide();
                    $('#module').hide();
                } else if ($('#Link option:selected').val() == "3") {
                    $('#Rewrite').hide();
                    $('#module').hide();
                }
            }
        }
        function clear() {
            $('#Name').val('');
            $('#Target').val('');
            $('#TenCM').val('');
            $('#Rewrite').val('');
            $('#AnhDaiDien').val('');
            $('#Des').val('');
            $('#Order').val('');
            $('#Title').val('');
            $('#Keyword').val('');
            $('#MoTa').val('');
        }
        function Coppy() {
            debugger;
            var listItems = @Html.Raw(jsonItems);
            console.log(listItems);
            window.scrollTo(0, 0);
            var arr = [];
            arr.push(listItems);
            console.log(arr);
            $.ajax({
                url: '/Menu/CoppyToMenu',
                type: 'POST',
                data: JSON.stringify({ }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {

                    if (data == 1) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'success'
                        )
                        js_Loading(false, 1);
                        window.location = '/Menu/Index'
                    }
                },
                error: function () {
                    js_Loading(false, 1);
                }

            });

        }
        function Save() {
            debugger;
            window.scrollTo(0, 0);
            if ($('#Type option:selected').val() == "0") {
                var lst = {};
                lst.capp = $('#cap').val();
                lst.Equals = $('#Link option:selected').val();
                lst.Name = $('#Name').val();
                lst.Images = $('#AnhDaiDien').val();
                lst.Type = $('#Type option:selected').val();
                var b = loc_xoa_dau($('#Name').val().trim());
                lst.Url_Name = b;
                if ($('#Link option:selected').val() == "2") {
                    lst.Link = 'san-pham';
                } else if ($('#Link option:selected').val() == "3") {
                    lst.Link = 'tin-tuc';
                } else if ($('#Link option:selected').val() == "0") {
                    lst.Link = $('#Rewrite').val().replace('.html', '');
                } else if ($('#Link option:selected').val() == "1") {
                    lst.Link = fomart_split($('#module option:selected').val(), 1);
                }
                lst.Styleshow = $('#Target option:selected').text();
                lst.Views = $('#Position option:selected').val();
                lst.Titleseo = $('#Title').val();
                lst.Description = $('#Des').val();
                lst.Keyword = $('#Keyword').val();
                lst.Orders = $('#Order').val();
                if ($('input[name="PageHome"]:checked').val() == "PageHome") {
                    lst.Status = '1';
                } else {
                    lst.Status = '0';
                }

                console.log(lst);
            } else if ($('#Type option:selected').val() == "1") {
                var lst = {};
                lst.capp = $('#cap').val();
                lst.Name = $('#Name').val();
                lst.Images = $('#AnhDaiDien').val();
                lst.Type = $('#Type option:selected').val();
                lst.Url_Name = $('#Url_Name').val();
                lst.Styleshow = $('#Target option:selected').text();
                lst.Views = $('#Position option:selected').val();
                lst.Titleseo = $('#Title').val();
                lst.Description = $('#Des').val();
                lst.Keyword = $('#Keyword').val();
                lst.Orders = $('#Order').val();
                if ($('input[name="PageHome"]:checked').val() == "PageHome") {
                    lst.Status = '1';
                } else {
                    lst.Status = '0';
                }
                lst.Detail = CKEDITOR.instances.Detail.getData();
                lst.Content = CKEDITOR.instances.Content.getData();
                console.log(lst);
            }

            $.ajax({
                url: '/Menu/createMenu',
                type: 'POST',
                data: JSON.stringify({ lst: lst }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {

                    if (data == 1) {
                        Swal.fire(
                            'Good job!',
                            'You clicked the button!',
                            'success'
                        )
                        js_Loading(false, 1);
                        window.location = '/Menu/Index'
                    }
                },
                error: function () {
                    js_Loading(false, 1);
                }

            });

        }
        $('[id*=btnBrowseImage]').each(function () {
            $(this).click(function () {
                BrowseServerNew('#txtMImage', '');
            });
        });
        //$("#container-img").sortable({
        //    stop: function (event, ui) {
        //        $('#txtMImage').val(GetStringImg());
        //    }
        //});
        function delall() {
            $("#container-img").html('');
            $('#txtMImage').val(GetStringImg());
        }

        function SetFileFieldNew2(functionData, startupPath) {

            var finder = new CKFinder();
            finder.basePath = '~/Scripts/ckfinder/';
            finder.startupPath = startupPath;
            finder.selectActionFunction = SetFileFieldNew2;
            finder.selectActionData = functionData;
            finder.popup();
        }
        function SetFileFieldNew2(fileUrl, data, allFiles) {
            var str = "";
            var strimg = "";
            var chuoi = "";
            allFiles.forEach(function (item) {
                strimg += "<li class='ui-state-default'><div class='box-img'><a href='javascript:void(0)' onclick=\"delimg($(this),'" + data["selectActionData"] + "');\" class='btn-close'>x</a> <img src='" + item.url + "' /> </div></li>";
            })

            $("#container-img2").html($("#container-img2").html() + strimg);
            $("#container-img2").sortable({
                stop: function (event, ui) {
                    $('#txtMImage').val(GetStringImg());
                }
            });
            $("#container-img2").disableSelection();
            $('#' + data["selectActionData"]).val(GetStringImg());
        }

        function BrowseServerNew(functionData, startupPath) {

            var finder = new CKFinder();
            finder.basePath = '~/Scripts/ckfinder/';
            finder.startupPath = startupPath;
            finder.selectActionFunction = SetFileFieldNew;
            finder.selectActionData = functionData;
            finder.popup();
        }
        function SetFileFieldNew(fileUrl, data, allFiles) {
            var str = "";
            var strimg = "";
            var chuoi = "";
            allFiles.forEach(function (item) {
                strimg += "<li class='ui-state-default'><div class='box-img'><a href='javascript:void(0)' onclick=\"delimg($(this),'" + data["selectActionData"] + "');\" class='btn-close'>x</a> <img src='" + item.url + "' /> </div></li>";
            })

            $("#container-img").html($("#container-img").html() + strimg);
            $("#container-img").sortable({
                stop: function (event, ui) {
                    $('#txtMImage').val(GetStringImg());
                }
            });
            $("#container-img").disableSelection();
            $('#' + data["selectActionData"]).val(GetStringImg());
        }
        function LoadStringImg(strImg, inputimg) {
            var arr = strImg.split(',');
            var strimg = "";
            var chuoi = "";
            arr.forEach(function (item) {
                strimg += "<li class='ui-state-default'><div class='box-img'><a href='javascript:void(0)' onclick=\"delimg($(this),'" + inputimg + "');\" class='btn-close'>x</a> <img src='" + item + "' /> </div></li>";
            })
            $("#container-img").html($("#container-img").html() + strimg);
            $("#container-img").sortable({
                stop: function (event, ui) {
                    $('#txtMImage').val(GetStringImg());
                }
            });
            $("#container-img").disableSelection();
            $('#txtMImage').val(GetStringImg());
        }
        function GetStringImg() {
            var str = "";
            $(".box-img img").each(function () {
                str += $(this).attr('src') + ',';
            })
            return str;
        }
        function delimg(img, inputimg) {
            img.parent().parent().remove();
            $('#' + inputimg).val(GetStringImg());
        }
        function loc_xoa_dau(str) {
            str = str.toLowerCase();
            // Gộp nhiều dấu space thành 1 space
            str = str.replace(/\s+/g, '-');
            // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của chuỗi
            str = str.trim();
            // bắt đầu xóa dấu tiếng việt  trong chuỗi
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
            str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
            str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
            str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
            str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
            str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
            str = str.replace(/Đ/g, "D");
            return str;
        }
        function getName() {
            debugger;
            var Name = $('#Name').val().trim();
            $.ajax({
                url: '/Menu/getName',
                type: 'POST',
                data: JSON.stringify({ Name: Name }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                    js_Loading(true, 1);
                },
                success: function (data) {
                    if (data.code == 1) {
                        $('#Rewrite').val(data.link.Link + ".html");
                    }
                    if (data.code == 2) {
                        $('#Rewrite').val(data.link.Link1 + ".html");
                    }
                    if (data.code == 3) {
                        var a = $('#Name').val().trim();
                        $('#Rewrite').val(data.link.Link1 + loc_xoa_dau(a) + ".html");
                    }
                    if (data == 0) {
                        var a = $('#Name').val().trim();
                        $('#Rewrite').val(loc_xoa_dau(a) + ".html");
                    }
                    js_Loading(false, 1);
                },
                error: function () {
                    js_Loading(false, 1);
                }

            });

        }
        function fomart_split(input, number) {
            try {
                var value = input;
                if (value != null && !value.length < 1) {
                    return value.split(" - ")[number];
                } else {
                    return "";
                }
            } catch (e) {

            }
        }
    </script>
}