<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/Home/Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
    </div>
</div>

<div class="container mt-3">

    <div class="row mb-5">
        <div class="col-md-9 order-2">

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>

                </div>
            </div>
            <div class="row mb-5">
                @foreach (var item in ViewBag.list_detail)
                {
    <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
        <div class="block-4 text-center border">
            <figure class="block-4-image">
                <a href="/Shop/ProductDetail?id=@item.ProductId"><img src="@Url.Content("/images/"+item.Url)" alt="Image placeholder" class="img-fluid"></a>
            </figure>
            <div class="block-4-text p-4">
                <h3><a href="/Shop/ProductDetail">@item.Name</a></h3>
                <p class="mb-0">@item.Description</p>
                <p class="text-primary font-weight-bold">@item.Price ₫</p>
            </div>
        </div>
    </div>
    }
            </div>
            <div class="row" data-aos="fade-up">
                @*<div class="col-md-4"></div>*@
                <div class="col-md-12 text-center" style="display: flex; align-items: center; justify-content: center;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-separated">
                            <li class="page-item disabled">
                                <a href="#" class="page-link">←</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item ">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">→</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                <ul class="list-unstyled mb-0">
                    @foreach (var item1 in ViewBag.list_cate)
                    {
                    <li class="mb-1"><a href="#" class="d-flex"><span>@item1.Name</span></a></li>
                    }
                    @*<li class="mb-1"><a href="#" class="d-flex"><span>Women</span> </a></li>
                    <li class="mb-1"><a href="#" class="d-flex"><span>Children</span> </a></li>*@
                </ul>
            </div>

            <div class="border p-4 rounded mb-4">
                <div class="mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Price Range</h3>
                    <div class="row">
                        <div class="col-md-5">
                            <input class=" form-control" type="number" placeholder="From" />
                        </div>
                        <div class="col-md-2 mt-2"><i class="ri-subtract-line"></i></div>
                        <div class="col-md-5">
                            <input class="form-control" type="number" placeholder="To" />
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                    <div class="row" style="margin-left:0px">
                        @foreach (var item2 in ViewBag.list_size)
                        {
                        <div class="form-check col-md-3">
                            <input class="form-check-input" type="checkbox" id="check @item2.Code" />
                            <label class="form-check-label" for="check @item2.Code">@item2.Name</label>
                        </div>
                        }
                    </div>

                </div>

                
                <div class="row d-flex g-2">
                    <button class="btn btn-outline-primary">Filter</button>
                    <button class="btn btn-outline-dark">Clear filter</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/nikeposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Nike</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/adidasposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Adidas</h3>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
                <figure class="image">
                    <img src="~/images/converseposter.png" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <span class="text-uppercase">Collections</span>
                    <h3>Converse</h3>
                </div>
            </a>
        </div>
    </div>

</div>


