<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/Home/Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">@ViewBag.list_detail.Name</strong></div>
        </div>
    </div>
</div>

<div class="site-section mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="@Url.Content("/images/"+@ViewBag.list_detail.Url)" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <input type="text" id="idpro" value="@ViewBag.list_detail.ProductId" hidden />
                <h2 class="text-black">@ViewBag.list_detail.Name</h2>
                <p>@ViewBag.list_detail.Description</p>
                @*<p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>*@
                <p><strong class="text-primary h4">@ViewBag.list_detail.Price</strong></p>
                <div class="row">
                    <div class="row" style="margin-left:0px">

                        @foreach (var item5 in ViewBag.list_size)
                        {
                            <div class="form-check col-md-3">
                                <input class="form-check-input" type="radio" name="size" id="check @item5.Code" />
                                <label class="form-check-label" for="check @item5.Code">@item5.Name</label>
                            </div>}
                    </div>
                    <div class="row mb-3 mt-2">
                        <div>
                            <div class="input-step">
                                <button type="button" class="minus">–</button>
                                <input type="number" id="qtypro" class="product-quantity" value="0" min="0" max="100">
                                <button type="button" class="plus">+</button>
                            </div>
                        </div>

                    </div>
                    <p><a href="" class="buy-now btn btn-primary" onclick="AddToCart();">Add To Cart</a></p>

                </div>
            </div>
        </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light mt-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Featured Products</h2>
                </div>
            </div>
            <div class="row mt-3">
                <div id="owl-carousel" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="~/images/Giay NMD S1.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4" style="margin-top:-130px">
                                <h3><a href="#">Tank Top</a></h3>
                                <p class="mb-0">Finding perfect t-shirt</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="~/images/Giay NMD_R1 Primeblue.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4" style="margin-top:-130px">
                                <h3><a href="#">Corater</a></h3>
                                <p class="mb-0">Finding perfect products</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="~/images/Giay NMD_V3.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4" style="margin-top:-130px">
                                <h3><a href="#">Polo Shirt</a></h3>
                                <p class="mb-0">Finding perfect products</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="~/images/Giay Supernova.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4" style="margin-top:-130px">
                                <h3><a href="#">T-Shirt Mockup</a></h3>
                                <p class="mb-0">Finding perfect products</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="block-4 text-center">
                            <figure class="block-4-image">
                                <img src="~/images/Giay ZNCHILL.jpg" alt="Image placeholder" class="img-fluid">
                            </figure>
                            <div class="block-4-text p-4" style="margin-top:-130px">
                                <h3><a href="#">Corater</a></h3>
                                <p class="mb-0">Finding perfect products</p>
                                <p class="text-primary font-weight-bold">$50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script>
        $('#owl-carousel').owlCarousel({
            loop: true,
            margin: 20,
            dots: true,
            nav: true,
            items: 3,
        })

        function AddToCart() {
            var lst = {};
            lst.ProductID = $('#idpro').val();
            lst.Quantity = $('#qtypro').val();
            $.ajax({
                url: '/Shop/AddToCart',
                type: 'POST',
                data: JSON.stringify({ lst: lst }),
                contentType: 'application/json, charset=utf-8',
                success: function (data) {

                    if (data == 1) {
                        alert('Sản phẩm đã thêm vào giỏ');
                        window.location = '/Shop/Index'
                    }
                }

            });

        }
    </script>
