@using System.Data;
@using WEB.Models;
@{
    ViewBag.Title = "__tblIndex";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var list_level = (List<objCombox>)Session["list_level"];
}
<div id="example-table-wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered table-hover dataTable" id="example-table-cate" cellspacing="0" width="100%" role="grid" aria-describedby="example-table_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 50.5px;" hidden><input type="checkbox" id="cball" onchange="checkall()" name="checkall[]"/></th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 200.5px;">ID</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150.5px;">Name</th>
                        <th class="sorting text-center" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150.5px;">Function</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        if (Model != null)
                        {
                            var dt = Model as DataTable;
                            if (dt.Rows.Count > 0)
                            {
                                var i = 0;
                                foreach (DataRow item in dt.Rows)
                                {
                                    <tr id="row_@i">
                                        <td class="text-center align-middle" style=" overflow: hidden;white-space: nowrap;" hidden>
                                            <input type="checkbox" id="_@i" onchange="" name="check[]" value="@item["Code"]" />
                                        </td>

                                        <td class="text-center align-middle" style="  overflow: hidden;white-space: nowrap">
                                            @item["Code"]
                                        </td>
                                        <td class="text-center align-middle" style=" overflow: hidden;white-space: nowrap">
                                            @item["Name"]
                                        </td>
                                        <td class="text-center align-middle" style="  overflow: hidden;white-space: nowrap">
                                            <button class="btn btn-xs border border-primary" data-bs-toggle="modal" data-bs-target="#UpdateCate" onclick="show('@item["Code"]','@item["Name"]')"><i class="ri-edit-2-fill"></i></button>
                                            <a class="btn btn-xs border border-danger" id="deleteCate" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick=" check(@i);"><i class="ri-delete-bin-5-fill"></i></a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->

<script>

    function check(r) {
        $('#_' + r).filter(':checkbox').prop('checked', true);
    }
    function checkall() {
        var cboxes = document.getElementsByName('check[]');
        for (var i = 0; i < cboxes.length; i++) {
            if ($('#cball').is(":checked")) {
                cboxes[i].checked = true;
            } else { cboxes[i].checked = false; }
        }
    }
</script>